h1 {
  letter-spacing: 15px;
}

h2 {
  text-align: center;
}

.carouselpic {
  width: 200px;
  height: 200px;
  border-style: solid;
  
}

.whatever {
  letter-spacing: 20px;
  font-weight: bold;
}

.link { color : black}

.sidebar-title {
  color: white;
}