h1 {
  letter-spacing: 15px;
}

h2 {
  text-align: center;
}

.carouselpic {
  width: 200px;
  height: 200px;
  border-style: solid;
  
}

.whatever {
  letter-spacing: 20px;
  font-weight: bold;
}

.link { color : black}

.sidebar-title {
  color: white;
}

.empty-cart {
  padding-bottom: 40vw;
}

.question-box {
  margin-top: 3vw;
}

.qsubmit {
  margin-top: 1vw;
  color: gray;
}

.imagecontainer {
  margin: auto;
width: 75%;
padding: 10px;
}

.profilePic {
  display: inline-block;
  margin: 20px;
}

.profileName {
  text-align: center;
}

.notbold {
  font-weight:normal
}

.no_bullets {
list-style: none;
padding-left: 0;
}